.header-wrapper{
	height: 574px;
	background-image: url('../images/detail/Marathon-banner.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.content-wrapper .desc{
  padding: 24px 10px 58px;
  font-weight: bold;
  text-indent: 2em;
  font-size: 18px;
  line-height: 150%;
}
.content-wrapper .image-area img{
	display: block;
	float: right;
}
.content-wrapper .item-list{
	background-image: url('../images/detail/Marathon-img3.png');
	background-size: contain;
  background-repeat: no-repeat;
  background-position: 300px 306px;
  background-size: 800px;
  padding-bottom: 35px;
}
.content-wrapper .item-list li{
	text-align: left;
	margin-bottom: 58px;
}
